@font-face {
font-family: 'Mughal';
font-style: normal;
src: local('Mughal'),
      url('./fonts/mughal/Mughal.otf'),
      url('./fonts/mughal/mughal-webfont.woff'),
      url('./fonts/mughal/mughal-webfont.woff2');
}

/* @font-face {
font-family: 'Arch';
font-style: normal;
src: local('Russell-Square-Regular'),
      url('../static/fonts/Russell Square Regular.ttf')
} */
